<div id="contact-section" class="contact-container">
  <div class="chat-graphic"></div>
  <h2>Fancy a chat?</h2>
  <p>Thinking of booking the bus or want to volunteer? Send us an email from our online form and we’ll get back to you as soon as possible:</p>
  <form method="POST" action="https://formspree.io/rosie@busstop.org.uk">
    <div class="input-field">
      <input type="email" name="email" placeholder="&nbsp;" required></input>
      <label>Your Email</label>
    </div>
    <div class="message-field">
      <textarea name="message" required></textarea>
      <label>Your Message</label>
    </div>
    <button class="primary" type="submit">Send</button>
  </form>
</div>