<footer>
	<h2>Like what we do?</h2>
	<div class="button-container">
			<a href="/volunteer" class="primary">Volunteer for Us</a> 
			<p>or</p>
			<a target="_blank" href="https://www.give.net/20188233" class="secondary">Make a Donation</a>
	</div>
	<hr>
	<ul>
		<a href="https://twitter.com/TheBusStopUK" target="_blank"><li class="twitter"></li></a>
		<a href="https://www.facebook.com/thebusstopuk" target="_blank"><li class="facebook"></li></a>
		<a href="https://www.instagram.com/busstopuk/" target="_blank"><li class="instagram"></li></a>
	</ul>
</footer>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
<script type="text/javascript" src="/js/modaal.min.js"></script>
<script type="text/javascript" src="/js/general.js"></script>
