<div class="hero">
	<hgroup>
		<h1>A space for <span>Young People</span></h1>
		<h3>Based in York & Scarborough, we help local churches provide excellent youth work</h3>
		<div class="button-container">
			<a href="/volunteer" class="primary">Volunteer</a> 
			<p class="connector">or</p>
			<a target="_blank" href="https://www.give.net/20188233" class="secondary">Donate</a>
			<a href="https://www.youtube.com/embed/gonRE6WN8bg" class="video video-btn-container"><div class="play-btn-bg"><div class="play-arrow"></div></div>Watch Video</a>
		</div>

	</hgroup>
	<div class="vid_overlay"></div>
	<div class="mobile-bg-img"></div> 
	<video preload="auto" autoplay="true" loop="loop" muted="muted" volume="0">
		 	<source src="assets/video/HeroVideo_mp4.mp4" type="video/mp4">
		 	<source src="assets/video/HeroVideo_webmhd.mp4" type="video/webm">
	</video>
</div>