<div class="mobile-menu dark">Menu</div>

<nav class="topnav dark">
	<div class="site-logo"> 
		<a class="dark" href="/index"></a>
	</div>
	<ul>
		<li class="menu-item">
		    <a href="#contact-section" class="dark">Contact us</a>
		</li>
		<li class="menu-item">
		    <a class="dark" href="/team.html">The Team</a>
		</li>
		<li class="menu-item">
		    <a class="dark" href="/careers.html">Work for us</a>
		</li>
		<li class="menu-item">
		    <a class="dark" href="/volunteer.html">Volunteer</a>
		</li>
	</ul>
</nav>
