.career-voliunteer-container {
  h1 {
    font-weight: 600;
    margin: 85px 0 25px 0;
  }

  h3 {
    color: rgba(0,0,0,0.65);
    font-weight: 400;
    width: 90vw;
    margin-bottom: 45px;
    max-width: 1000px;

    @include respond-to('medium') {
      width: 90vw;
    }
    @include respond-to('large') {
      width: 60vw;
    }
  }

  .photos-container {
    @include grid-container;
    margin: 0 auto;
    max-width: 1920px;
    position: relative;

    .gray-background {
      background-color: #F8F8F8;
      bottom: 0;
      height: 150px;
      left: 50%;
      position: absolute;
      transform: translate(-50%);
      width: 100vw;
      z-index: -10;
    }

    .left-photo, .right-photo-1, .right-photo-2 {
      border-radius: 4px;
      background-size: contain;
      background: blue;
    }

    .left-photo {
      height: 300px;
      @include grid-column(6, $small-grid);

      @include respond-to('medium') {
        height: 332px;
      }

      @include respond-to('large') {
        height: 432px;
      }

      @include grid-media($medium-grid) {
        @include grid-column(4);
      }
      @include grid-media($large-grid) {
        @include grid-column(5);
        @include grid-push(2);
      }
    }

    .right-photo-1, .right-photo-2 {
      @include respond-to('small') {
        display: none;
      }

      @include respond-to('medium') {
        display: block;
        height: 150px;
      }

      @include respond-to('large') {
        height: 200px;
      }

      @include grid-media($medium-grid) {
        @include grid-column(2);
      }
      @include grid-media($large-grid) {
        @include grid-column(3);
      }
    }

    .careers-photo.left-photo {
      background: url("../assets/photos/careers-left-photo.png") no-repeat center top;
      background-size: cover;
      margin-bottom: 32px;
    }

    .careers-photo.right-photo-1 {
      background: url("../assets/photos/careers-right-photo-1.png") no-repeat center center;
      background-size: cover;
      margin-bottom: 32px;
    }

    .careers-photo.right-photo-2 {
      background: url("../assets/photos/careers-right-photo-2.png") no-repeat center center;
      background-size: cover;
    }

    .volunteer-photo.left-photo {
      background: url("../assets/photos/volunteer-left-photo.png") no-repeat center top;
      background-size: cover;
      margin-bottom: 32px;
    }

    .volunteer-photo.right-photo-1 {
      background: url("../assets/photos/volunteer-right-photo-1.png") no-repeat bottom center;
      background-size: cover;
      margin-bottom: 32px;
    }

    .volunteer-photo.right-photo-2 {
      background: url("../assets/photos/volunteer-right-photo-2.png") no-repeat center center;
      background-size: cover;
    }
  }

  .list-container {
    background-color: #F8F8F8;
    display: inline-block;
    padding: 45px 0 150px 0;
    width: 100%;

    z-index: -1;

    h2 {
      margin-bottom: 15px;
    }

    h3.dark {
      width: 90vw;
      max-width: 540px;
      margin-bottom: 60px;

      @include respond-to('medium') {
        width: 80vw;
      }

      @include respond-to('large') {
        width: 50vw;
        max-width: 540px;
      }
    }

    ul.role-container {
      @include grid-column(6, $small-grid);

      @include grid-media($medium-grid) {
        @include grid-column(6);
      }
      @include grid-media($large-grid) {
        @include grid-column(8);
        @include grid-push(2);
      }
    }

    li:first-child {
      border-top: 1px solid #DEDEDE;
    }

    li {
      border-bottom: 1px solid #DEDEDE;
      display: inline-block;
      width: 100%;
      position: relative;

      h4, p {
        text-align: center;
        width: 100%;


        @include respond-to('medium') {
          float: left;
          width: 50%;
          margin-left: 25px;
          text-align: left;
        }
      }

      h4 {
        font-weight: 900;
        margin: 25px 0 25px 0;

        @include respond-to('medium') {
          margin: 25px 0 25px 25px;
          width: 50%;
        }
      }

      p {
        height: 100%;
        width: 100%;
        margin-bottom: 25px;

        @include respond-to('medium') {
          margin: 0 0 25px 25px;
          width: 60%;
        }
      }

      p.smaller-margin {
        margin-bottom: 5px;
      }

      a.primary {
        background-color: #00F3FF;
        border: none;
        display: block;
        color: rgba(0,0,0,0.85);
        position: relative;
        margin: 0 auto 25px auto;

        @include respond-to('medium') {
          position: absolute;
          right: 25px;
          top: 50%;
          transform: translateY(-50%);
          margin: initial;
        }

        &:hover {
          background-color: #4DF6FF;
          border: none;
          transform: translateY(-50%) scale(1.1);
        }
      }
    }
  }
}
