$breakpoints: (
  'small':  ( max-width:  767px ),
  'medium': ( min-width:  768px ),
  'medium-max': ( max-width:  768px ),
  'medium-large': ( min-width:  960px ),
  'large':  ( min-width: 1200px )
) !default;

@mixin respond-to($breakpoint) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  }
 
  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

// Grid definitions for Neat plugin
$small-grid: (
  columns: 6,
  gutter: 16px,
  media: 0px,
  color: rgba(#00d4ff, 0.25),
  direction: ltr,
);

$medium-grid: (
  columns: 6,
  gutter: 32px,
  media: "(min-width: 768px)",
  color: rgba(#00d4ff, 0.25),
  direction: ltr,
);

$large-grid: (
  columns: 12,
  gutter: 32px,
  media: "(min-width: 1200px)",
  color: rgba(#00d4ff, 0.25),
  direction: ltr,
);

@mixin transition($param) {
  -webkit-transition: $param;
     -moz-transition: $param;
       -o-transition: $param;
          transition: $param;
}

@mixin transform($transforms) {
     -moz-transform: $transforms;
       -o-transform: $transforms;
      -ms-transform: $transforms;
  -webkit-transform: $transforms;
          transform: $transforms;
}
